@model OkulProje.Models.OgrenciDersModel
@{
    ViewData["Title"] = "OgrenciDers Page";
}

<h1>Öğrenci Ders Listesi</h1>
<br />
@{
    @if (TempData["SaveStatus"] != null)
    {
        int status = Convert.ToInt32(TempData["SaveStatus"]);
        if (status == 1)
        {
            <span class="alert alert-success">Veri başarıyla kaydedildi</span>
        }
        else
        {
            <span class="alert alert-danger">Hata!</span>
        }
    }
    @if (TempData["UpdateStatus"] != null)
    {
        int status = Convert.ToInt32(TempData["UpdateStatus"]);
        if (status == 1)
        {
            <span class="alert alert-success">Veri başarıyla güncellendi</span>
        }
        else
        {
            <span class="alert alert-danger">Hata!</span>
        }
    }
    @if (TempData["DeleteStatus"] != null)
    {
        int status = Convert.ToInt32(TempData["DeleteStatus"]);
        if (status == 1)
        {
            <span class="alert alert-success">Veri başarıyla silindi</span>
        }
        else
        {
            <span class="alert alert-danger">Hata!</span>
        }
    }
}
<br />
<br />
<br />
<a href="/OgrenciDers/Kaydet">Öğrenci Ders İlişkisi Ekle</a>
<br />

<table class="table table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Ders Id</th>
            <th>Ogrenci Id</th>

        </tr>
        @if (Model.OgrenciDersList.Count > 0)
        {
            foreach (var item in Model.OgrenciDersList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DersId</td>
                    <td>@item.OgrenciId</td>
                    <td>
                        <a href="/OgrenciDers/Guncelle/?Id=@item.Id">Güncelle</a>&nbsp;|&nbsp;
                        <a href="/OgrenciDers/Sil/?Id=@item.Id">Sil</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">Kayıt Bulunamadı</td>
            </tr>
        }
    </thead>
</table>
